@model NationalParks.Models.Parks


<h1>Parks</h1>
<hr />

@foreach (var item in Model.data)
{
<div>
    <table>
        <tr>
            <td>
                <div>
                    <label class="label-display">Name: </label>
                    @Html.TextBoxFor(modelItem => item.fullName, new { @class = "text-display" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label class="label-display">Description: </label>
                    @Html.TextAreaFor(modelItem => item.description, new { @class = "textarea-display" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label class="label-display">URL: </label>
                    @Html.TextBoxFor(modelItem => item.url, new { @class = "text-display" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label class="label-display">Directions: </label>
                    @Html.TextAreaFor(modelItem => item.directionsInfo, new { @class = "textarea-display" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label class="label-display">Weather: </label>
                    @Html.TextAreaFor(modelItem => item.weatherInfo, new { @class = "textarea-display" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <label class="label-display">Hours :</label>
                        <table>
                            <tr>
                                <td>
                                    <label class="label-display" style="font-size:15px">Sunday: </label>
                                    @Html.TextAreaFor(d => item.operatingHours[0].standardHours.Sunday, new { @class = "textsmall-display" })
                                </td>
                                <td>
                                    <label class="label-display" style="font-size:15px">Monday: </label>
                                    @Html.TextAreaFor(d => item.operatingHours[0].standardHours.Monday, new { @class = "textsmall-display" })
                                </td>
                                <td>
                                    <label class="label-display" style="font-size:15px">Tuesday: </label>
                                    @Html.TextAreaFor(d => item.operatingHours[0].standardHours.Tuesday, new { @class = "textsmall-display" })
                                </td>
                                <td>
                                    <label class="label-display" style="font-size:15px">Wednesday: </label>
                                    @Html.TextAreaFor(d => item.operatingHours[0].standardHours.Wednesday, new { @class = "textsmall-display" })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="label-display" style="font-size:15px">Thursday: </label>
                                    @Html.TextAreaFor(d => item.operatingHours[0].standardHours.Thursday, new { @class = "textsmall-display" })
                                </td>
                                <td>
                                    <label class="label-display" style="font-size:15px">Friday: </label>
                                    @Html.TextAreaFor(d => item.operatingHours[0].standardHours.Friday, new { @class = "textsmall-display" })
                                </td>
                                <td>
                                    <label class="label-display" style="font-size:15px">Saturday: </label>
                                    @Html.TextAreaFor(d => item.operatingHours[0].standardHours.Saturday, new { @class = "textsmall-display" })
                                </td>
                            </tr>
                        </table>
                  
                 </div>
            </td>
        </tr>
    </table>
</div>
    <hr />
}

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
