@model List<NationalParks.Models.Guest>

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <hr />
    <div>
        <table>
            <tr>
                <td colspan="6" style="text-align:left"><h1>Chart</h1></td>
            </tr>
            <tr>
                <td align="center" colspan="6">
                    <canvas id="barchart" width="800" height="300"></canvas>

                </td>

            </tr>
            <tr>
                <td colspan="6" style="text-align:left"><h1>Guests</h1></td>
            </tr>

            <tr>
                <td colspan="6">
                    @Html.ActionLink("Add New", "Add")
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Park</th>
                <th>Date of Visit</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", maxlength = 50 } })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Park, new { htmlAttributes = new { @class = "form-control", maxlength = 50 } })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateofVisit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating, new { htmlAttributes = new { @class = "form-control", maxlength = 50 } })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
    <script>
    new Chart(document.getElementById("barchart"), {
      type: 'bar',
      data: {
        labels: [@Html.Raw((ViewBag.Labels))],
        datasets: [
          {
            label: "Average Guest Ratings",
            data: [@(ViewBag.Data)]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Average Guest Ratings"
        }
      }
    });
    </script>
</body>
</html>
